body{
	background-color: #EBE4E2;
}

.text {
	text-align: center;
}

.computer {
    background-image: url(../img/computer.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.cardtitle {
	padding-top: 20;
}

.title{
	color: grey;
	font-size: 200%;
	font-family: 'Playfair Display', serif;
	text-decoration: underline overline;
	font-style: italic;
}


.header {
    padding: 210;
    color: white;
    font-size: 250%;
    font-family: 'Playfair Display', serif;
}

.oranges {
	background-image: url(../img/oranges.gif);
	background-repeat: no-repeat;
	background-size: cover;

}

.news {
	background-image: url(../img/news.gif); 
	background-position: center;
	background-size: cover;
}

.woman {
	background-image: url(../img/woman.gif);
	background-position: center;
	background-size: cover;
}

.snail {
	background-image: url(../img/snail.gif);
	background-position: center;
	background-size: cover;
}

.blinking {
	background-image: url(../img/pie.gif);
	background-position: center;
	background-size: cover;
}

.padding-img{
	height: 500px;
	padding-top: 50%;
	padding-left: 10%;
	padding-right: 10%;
	color: white;
	font-size: 250%;
	font-family: 'Playfair Display', serif;
}


.paragraphleft {
    padding-left: 6%;
    padding-right: 6%;
    text-align: justify;
    color: grey;
    font-size: 120%;
    font-family: 'Playfair Display', serif;
}

.endnote {
    color: white;
    font-size: 140%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.imagewidth {
    width: 100%;
}

.img-circle {
	border-radius: 50%
}

.backgroundslide {
	    background-color: white;
}

.aboutme {
    margin-top: 25;
    margin-bottom: 0rem;
    padding-left: 10;
    padding-right: 10;
}
.left {
	text-align: left;
    margin-bottom: 0;
}

.justified {
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
}

.card {
	padding: 10;
}

.description {
    background-image: url(../img/rotate.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.paddingleft {
	padding-left: 8%;
	padding-bottom: 8%;
}

.font {
font-family: 'Lora', serif;
}
















